<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Junchi Zhu's Personal page</title>
    <link rel="stylesheet" href="../static/main/css/header.css">
    <link rel="stylesheet" href="../static/main/css/navbar.css">
    <link rel="stylesheet" href="../static/main/css/main.css">
    <link rel="stylesheet" href="../static/main/css/footer.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="../static/piano/js/piano.js" defer></script>
</head>
<body>
<header>
    <img src="https://gitlab.msu.edu/cse477-spring-2022/course-materials/-/raw/master/homework/Homework-1/flask_app/static/main/images/banner.jpg"
         width=100%
         height="100%">
</header>

<nav>
    <div class="positionHeader" style="flex: 6 1">
        CSE 477 - Homework 1</div>
    <div>
        <button class="toggle" type="button">
            <img src="https://gitlab.msu.edu/cse477-spring-2022/course-materials/-/raw/master/homework/Homework-1/flask_app/static/main/images/menu-bar.png"
                 width=40px
                 height=30px>
        </button>
    </div>

    <div class="collapse menu_list">
        <ul class="nav navbar-list">
            <li><a class="positionText1" href="/home">Home</a></li>
            <li><a class="positionText2" href="/projects">Project</a></li>
            <li><a class="positionText3" href="/newResume">Resume</a></li>
            <li><a class="pictureText" href="https://www.linkedin.com/in/junchi-zhu-65b4b5190/">Linkedin</a></li>
            <li><a class="picture2" href="https://www.linkedin.com/in/junchi-zhu-65b4b5190/">n</a></li>
            <li><a class="picture" href="https://www.linkedin.com/in/junchi-zhu-65b4b5190/">
                <img src="https://gitlab.msu.edu/cse477-spring-2022/course-materials/-/raw/master/homework/Homework-1/flask_app/static/main/images/social-linkedin.png"
                     class="image_hover"
                     width="40px"
                     height="40px">
            </a>
            </li>
        </ul>
    </div>
</nav>

<main>
    <p class="pro1Font">
        <br><br>Behold piano great and old, it's master slumbers in far off cold, If you wish to see anew, call out to it - we see you.
    </p>
    <div class="line">
        <hr>
    </div>
    <div class="bigBox">
        <p class ="piano_title"><br/>The Great Old One</p>
        <ul class="piano" id="displayLetter">
            <li class = "Key white" id="A"><div class="keyText">A</div></li>
            <li class = "Key black" id="W"><div class="BKeyText">W</div></li>
            <li class = "Key white" id="S"><div class="keyText">S</div></li>
            <li class = "Key black" id="E"><div class="BKeyText">E</div></li>
            <li class = "Key white" id="D"><div class="keyText">D</div></li>

            <li class = "Key white" id="F"><div class="keyText">F</div></li>
            <li class = "Key black" id="T"><div class="BKeyText">T</div></li>
            <li class = "Key white" id="G"><div class="keyText">G</div></li>
            <li class = "Key black" id="Y"><div class="BKeyText">Y</div></li>
            <li class = "Key white" id="H"><div class="keyText">H</div></li>
            <li class = "Key black" id="U"><div class="BKeyText">U</div></li>
            <li class = "Key white" id="J"><div class="keyText">J</div></li>

            <li class = "Key white" id="K"><div class="keyText">K</div></li>
            <li class = "Key black" id="O"><div class="BKeyText">O</div></li>
            <li class = "Key white" id="L"><div class="keyText">L</div></li>
            <li class = "Key black" id="P"><div class="BKeyText">P</div></li>
            <li class = "Key white" id=";"><div class="keyText">;</div></li>
        </ul>
    </div>
</main>

<footer>
    <p>©2022 Junchi Zhu</p>
</footer>

</body>
<script src="../static/main/js/homepage.js" defer></script>
</html>
