<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Junchi Zhu's Personal page</title>
    <link rel="stylesheet" href="../static/main/css/header.css">
    <link rel="stylesheet" href="../static/main/css/navbar.css">
    <link rel="stylesheet" href="../static/main/css/main.css">
    <link rel="stylesheet" href="../static/main/css/footer.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
    <body>
        <header>
            <img src="https://gitlab.msu.edu/cse477-spring-2022/course-materials/-/raw/master/homework/Homework-1/flask_app/static/main/images/banner.jpg"
                 width=100%
                 height="100%"
                 alt=""
                 loading="lazy">
        </header>

        <nav>
            <div class="positionHeader" style="flex: 6 1">
                CSE 477 - Homework 1
            </div>
            <div>
                <button class="toggle" type="button">
                    <img src="https://gitlab.msu.edu/cse477-spring-2022/course-materials/-/raw/master/homework/Homework-1/flask_app/static/main/images/menu-bar.png"
                         width=40px
                         height=30px
                         alt=""
                         loading="lazy">
                </button>
            </div>

            <div class="collapse menu_list">
                <ul class="nav navbar-list">
                    <li><a class="positionText1" href="home.html">Home</a></li>
                    <li><a class="positionText2" href="projects.html">Project</a></li>
                    <li><a class="positionText3" href="https://www.linkedin.com/in/junchi-zhu-65b4b5190/">Resume</a></li>
                    <li><a class="pictureText" href="https://www.linkedin.com/in/junchi-zhu-65b4b5190/">Linkedin</a></li>
                    <li><a class="picture2" href="https://www.linkedin.com/in/junchi-zhu-65b4b5190/">n</a></li>
                    <li><a class="picture" href="https://www.linkedin.com/in/junchi-zhu-65b4b5190/">
                        <img src="https://gitlab.msu.edu/cse477-spring-2022/course-materials/-/raw/master/homework/Homework-1/flask_app/static/main/images/social-linkedin.png"
                             class="image_hover"
                             width="40px"
                             height="40px"
                             alt=""
                             loading="lazy">
                        </a>
                    </li>
                </ul>
                <script src="../static/main/js/homepage.js" defer></script>
            </div>
        </nav>

        <main>
            <div class="container">
                <div class="boxPicture">
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQGd8xzhqikhZQ/profile-displayphoto-shrink_800_800/0/1644592504270?e=1649894400&v=beta&t=TUojN1epH04nxextLMBDAlF0huPh3zgmFAmofedaD5Q"
                         width=100%
                         height="100%"
                         alt=""
                         loading="lazy">
                </div>

                <div class="boxText">
                        My name is Junchi Zhu, and I'm from China. I am a junior in MSU for computer science Major.
                        I am currently actively looking for an internship, and I very much hope that I can find a professionally related internship during the summer before entering my senior year.
                        In my life, I also spend a lot of time on bodybuilding. I currently only have three goals: eating, exercising, and studying.
                </div>
            </div>
            <div>
                <hr>
            </div>
            <div>
                <h1>
                    Fun Fact About Me:
                    <p>I can eat two big mac in 48 seconds</p>
                </h1>


            </div>
        </main>

        <footer>
            <p>©2022 Junchi Zhu</p>
        </footer>

    </body>

</html>
